/*KARLA ICONOS MAP*/
.pb-20 {
	padding-bottom: 20px;
}
.pb-150 {
	padding-bottom: 150px;
}
.pb-100 {
	padding-bottom: 100px;
}
/*KARLA MORE FEATURES*/
.pad-icon {
	padding-left: 10px;
}
/*TAMAÑO FUENTES*/
.OP-13 {
	font-size: 13px;
	font-family: Open Sans;
}
.OP-15 {
	font-size: 15px;
	font-family: Open Sans;
}
.OP-20 {
	font-size: 20px;
	font-family: Open Sans;
}
.OP-25 {
	font-size: 25px;
	font-family: Open Sans;
}
.OP-35 {
	font-size: 35px;
	font-family: Open Sans;
}